<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MENU | CAUTION COFFEE</title>
    <link rel="icon" href="./media/favicon-l.png" type="image/png">

    <!-- STYLE LINKS -->
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/components/testimonials/testimonial-3/assets/css/testimonial-3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"></link>
</head>

<body>

    <%- include('header.ejs') %>

        <section class="menu">

            <div class="container"><br>
                <h2 style="text-align: center; font-size: 50px; font-family: 'Playfair Display', serif; font-weight: 900; color: #752329;">DRINKS</h2><br>
                <hr>
                <h2 style="text-align: center; font-family: 'Playfair Display', serif; font-weight: 600;">SIGNATURE COFFEE</h2>
                <div class="row row-cols-1 row-cols-md-3 g-4 p-4 justify-content-center">
                    <% menu.forEach(menuDocument => { %>
                        <% if (menuDocument.Signature) { %>
                            <% menuDocument.Signature.forEach(item => { %>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="./media/<%= item.menuImage %>" class="img-fluid" alt="Caution T-Shirt (Black)">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%= item.menuName %>
                                            </h5>
                                            <p class="card-text">PHP
                                                <%= item.price %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                                    <% } %>
                                        <% }) %>
                </div>

                <br>
                <hr>
                <h2 style="text-align: center; font-family: 'Playfair Display', serif; font-weight: 600;">NON-COFFEE</h2>
                <div class="row row-cols-1 row-cols-md-3 g-4 p-4 justify-content-center">
                    <% menu.forEach(menuDocument => { %>
                        <% if (menuDocument.Non_Coffee) { %>
                            <% menuDocument.Non_Coffee.forEach(item => { %>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="./media/<%= item.menuImage %>" class="img-fluid" alt="Caution T-Shirt (Black)">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%= item.menuName %>
                                            </h5>
                                            <p class="card-text">PHP
                                                <%= item.price %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                                    <% } %>
                                        <% }) %>
                </div>

                <br><br><br>
                <h2 style="text-align: center; font-size: 50px; font-family: 'Playfair Display', serif; font-weight: 900; color: #752329;">FOODS</h2>
                <br>
                <hr>
                <h2 style="text-align: center; font-family: 'Playfair Display', serif; font-weight: 600;">BEST SELLERS</h2>
                <div class="row row-cols-1 row-cols-md-3 g-4 p-4 justify-content-center">
                    <% menu.forEach(menuDocument => { %>
                        <% if (menuDocument.Best_Sellers) { %>
                            <% menuDocument.Best_Sellers.forEach(item => { %>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="./media/<%= item.menuImage %>" class="img-fluid" alt="Caution T-Shirt (Black)">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%= item.menuName %>
                                            </h5>
                                            <p class="card-text">PHP
                                                <%= item.price %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                                    <% } %>
                                        <% }) %>
                </div>

                <br>
                <hr>
                <h2 style="text-align: center; font-family: 'Playfair Display', serif; font-weight: 600;">SANDWICHES</h2>
                <div class="row row-cols-1 row-cols-md-3 g-4 p-4 justify-content-center">
                    <% menu.forEach(menuDocument => { %>
                        <% if (menuDocument.Sandwiches) { %>
                            <% menuDocument.Sandwiches.forEach(item => { %>
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="./media/<%= item.menuImage %>" class="img-fluid" alt="Caution T-Shirt (Black)">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%= item.menuName %>
                                            </h5>
                                            <p class="card-text">PHP
                                                <%= item.price %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                                    <% } %>
                                        <% }) %>
                </div>
            </div>

        </section>

        <%- include('footer.ejs') %>

            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

            <script>
                document.getElementById('home').removeAttribute("class", 'active');
                document.getElementById('home').setAttribute("class", "nav-link")
                document.getElementById('products').setAttribute("class", 'nav-link active');
            </script>
</body>

</html>