<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REVIEWS | CAUTION COFFEE</title>
    <link rel="icon" href="./media/favicon-l.png" type="image/png">

    <!-- STYLE LINKS -->
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/components/testimonials/testimonial-3/assets/css/testimonial-3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"></link>

</head>
<body>

    <%- include('header.ejs') %>

    <!-- CUSTOMER REVIEW -->
    <section class="bg-light py-5 py-xl-8">
        <div class="container-fluid"> 
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                    <h2 class="text-uppercase text-center" style="color: #752329; font-weight: 900;">Customer Reviews</h2>
                    <p class="display-5 mb-4 mb-md-5 text-center">We deliver what we promise. See what our Customers express about us.</p>
                    <hr class="w-50 mx-auto mb-5 mb-xl-9" style="border-color: #752329;">
                </div>
            </div>
        </div>
    
        <div class="container-fluid overflow-hidden"> 
            <div class="row gy-4 gy-md-0 gx-xxl-5">

                <% if (reviews && reviews.length >= 1) { %> <!-- CHECK IF MAY LAMAN BA YUNG REVIEWS DATABASE -->
                    <% reviews.forEach(reviews => { %>
                        <% const messages = ['Bean There, Done That', 'A Latte Room for Improvement', 'Just Brew-tiful', 'Brew-tifully Good', 'Perk-fectly Amazing'] %>

                        <!-- REVIEW CARDS -->
                        <div class="col-12 col-md-4 mb-3">
                            <div class="card border-0 border-bottom shadow-sm rounded-card" style="border-color: #752329; background-color:#E8E8E1">
                                <div class="card-body p-4 p-xxl-5">
                                <figure>
                                    <figcaption>
                                    <div class="coffee-ratings mb-3" style="color: #752329;">
                                        <% let rating = reviews.rating %>
                                        <% for( let i = 0; i < rating; i++ ) { %>
                                            <i class="fas fa-coffee"></i>
                                        <% } %>
                                    </div>
                                    <blockquote class="bsb-blockquote-icon mb-4">
                                        <h5 class="card-title"><%= messages[rating - 1] %></h5> 
                                        <p class="card-text" style="font-family: 'Poppins', sans-serif; font-weight: 400; font-style: normal;"><%= reviews.message %></p>
                                    </blockquote>
                                    <h4 class="mb-2"><%= reviews.username %></h4>
                                    <p class="card-text"><%= reviews.dateCreated %></p>
                                    </figcaption>
                                </figure>
                                </div>
                            </div>
                        </div>
                        <!-- REVIEW CARDS -->

                    <% }) %>
                <% } %>

            </div>
        </div>
    </section>
    <!-- CUSTOMER REVIEW -->

    <!-- WRITE REVIEW -->
    <section style = "background-color: #E8E8E1;">
        <div class="container my-5" style = "background-color: #E8E8E1;">
            <br><br>
            <h2 class="text-center mb-4" style="color: #752329; font-weight: 900;">Submit Your Review</h2>
            <div class="card-review p-4 mb-5 shadow-sm review-box">

                <% if (message) { %>
                    <div class="alert alert-danger col-3" role="alert">
                        <%= message %>
                    </div>
                <% } %>

                <form action="/review_process" method="POST" id="reviewForm">
                    
                    <div class="mb-3">
                        <label for="rating" class="form-label">Your Rating</label>
                        <select id="rating" name="rating" class="form-select" style = "border-color: #752329;">
                            <option value="1">☕ Bean There, Done That (Poor)</option>
                            <option value="2">☕☕ A Latte Room for Improvement (Fair)</option>
                            <option value="3">☕☕☕ Just Brew-tiful (Satisfactory)</option>
                            <option value="4">☕☕☕☕ Brew-tifully Good (Very Good)</option>
                            <option value="5">☕☕☕☕☕ Espresso-tastic (Excellent)</option>
                        </select>
                    </div>
                    
                    <div class="mb-3">
                        <label for="review" class="form-label">Your Review
                            <span id="current">0</span>
                            <span id="maximum">/ 300</span>
                        </label>
                        <textarea id="review" name="message" rows="4" cols="50" maxlength="300" required class="form-control" placeholder="Write your review..." style = "border-color: #752329;"></textarea>
                    </div>

                    <button type="submit" class="btn btn-dark submit-btn" style = "margin: 0 auto; display: block; background-color: #752329;">Submit Review</button>
                </form>    
            </div>
        </div>
    </div>
    <!-- WRITE REVIEW -->


    <%- include('footer.ejs') %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script> // JAVASCRIPT CHARACTER COUNTER
        $('textarea').keyup(function() {
            var characterCount = $(this).val().length,
                current = $('#current'),
                maximum = $('#maximum'),
                theCount = $('#the-count');
            
            current.text(characterCount);
        
            if (characterCount == 300) {
                maximum.css('color', '#8f0001');
                current.css('color', '#8f0001');
                theCount.css('font-weight','bold');
            } 
            else {
                current.css('color', '#666');
                maximum.css('color','#666');
                theCount.css('font-weight','normal');
            }
        });

        document.getElementById('home').removeAttribute("class", 'active');
        document.getElementById('home').setAttribute("class", "nav-link")
        document.getElementById('review').setAttribute("class", 'nav-link active');

        if (<%= !isLoggedIn %>) {
            document.getElementById('reviewForm').addEventListener('submit', function(e) {
                e.preventDefault();
                alert("Please sign in to submit a review.");
                window.location.reload();
            });
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>

